$dark100: #000000;
$white: rgb(255, 255, 255);

// $btngreen: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
// $btngreen10: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
// $btnbright20: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);

$shadowYellowButton: 0 4px 8px 0 rgba(133, 109, 100, 0.25);
// $shadow50: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
